.nav-item:hover {
    transition: background-color 0.5s, color 0.2s;
    background-color: #ddd; 
    border-radius: 5px; 
}

.nav-item.active {
    background-color: #ddd;
    border-radius: 5px;
  }

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  }


