body {
  background-color:black;
  font-family:monospace
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Preserve aspect ratio and crop as needed */
  z-index: -1; /* Put it behind the content */
  filter: blur(0px) brightness(0.3); /* Blur and darken effect */
}

.navbar {
  background-color: transparent;
}

#navbarNav {
  justify-content: flex-end; /* Move items to the right */
}

.navbar-text {
  color: white;
  font-weight:400
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(141, 179, 95) !important;
  transition: color 0.4s;
}

.navbar-brand {
  color: white !important;
  font-size: 30px;
  font-family:monospace
}

.navbar-brand:hover {
  color: rgb(141, 179, 95) !important;
  transition: color 0.4s;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  padding-bottom: 10px; /* Added */
}

.btn-light:enabled:hover {
  background-color: rgb(141, 179, 95);
  color: black;
  border-color: white;
}

.btn-light:enabled {
  background-color: black;
  color: white;
  border-color: white;
}

.navbar-toggler-icon {
  font-size: 30px;
  padding-top: 10px;
  background-image: none;
  color: white; /* Set color to white */
  border: none;
}
.navbar-toggler-icon:hover {
  color: rgb(141, 179, 95)
}

@media (max-width: 991px) { /* Target screens smaller than 991px */
  .navbar-nav .nav-link:hover {
    color: rgb(141, 179, 95)
  }
}

.table.table-hover.table-borderless {
  font-size: 20px;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio and crop as needed */
}

.dropdown-item-hover:hover {
  background-color: transparent; /* Adjust as needed */
  font-weight: 900;
  color: rgb(141, 179, 95) !important;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* for the password toggle button */
.input-group-addon i {
  margin-left: -30px;
  cursor: pointer;
  z-index: 200;
  position: absolute;
  font-size: large;
  color: #6c757d;
  padding-top: 8px
}

.customer-service-footer {
  color: white;
  font-size: 16px;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin: auto;
  max-width: fit-content;
  bottom: 15px;
  padding: 0px 15px;
}

/* for laptops */
.disclaimer-footer {
  color: white;
  font-size: 18px;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin: auto;
  max-width: fit-content;
  bottom: 15px;
  padding: 0 20px
}



.welcome-card {
  opacity: 0.6;
  border: none;
  background-color: rgb(141, 179, 95);
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  padding-top: 40px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

